@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /* ### Primary  */
    --Purple: #854dff;
    --LightRed: hsl(0, 100%, 67%); 
    /* ### Neutral  */
    --White: hsl(0, 0%, 100%);
    --OffWhite: hsl(0, 0%, 94%);
    --LightGrey: hsl(0, 0%, 86%);
    --SmokeyGrey: hsl(0, 1%, 44%);
    --OffBlack: hsl(0, 0%, 8%);
    --FONT: 'Poppins';
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
#input{
    display: flex;
}
.input__box{
    display: flex;
    flex-direction: column;

    width: 190px;
    margin-inline: 1.2em;
}
#button{
    position: relative;
    left: 150px;
    display: flex;
    justify-content: end;
    align-items: start;
}
.inputs{
    font-family: var(--FONT);
    font-size: 32px;
    width: 100%;
    border-radius: 10px;
    padding-block: 0.4em;
    padding-inline: .6em;
    border: var(--LightGrey) 1px solid;
}
.labels{
    font-size: 20px;
    letter-spacing: 4px;
    font-family: var(--FONT);
    text-align: left;
    color: var(--SmokeyGrey);
    margin-bottom: 0.2em;
}
.invalid{
    font-size: 13px;
    color: var(--LightRed);
    font-family: var(--FONT);
    font-weight:100;
    margin-top: 0.2em;
}
.button{
    background-color: var(--Purple);
    border-radius: 50%;
    border: transparent;
    height: 98px;
    width: 102px;
}
.button:hover{
    cursor: pointer;
    background-color: var(--OffBlack);
}
.results{
    font-size: 96px;
    font-family: var(--FONT);
    font-style: italic;
    font-weight: 1000;
}
.numbers{
    font-size: 96px;
        font-family: var(--FONT);
        font-style: italic;
        font-weight: 1000;
        color: var(--Purple);
        letter-spacing: 10px;
}
.first{
    margin-left: 0em;
}
.middle{
    margin-block: -0.5em;
}
@media only screen and (max-width: 540px){
    #button {
            position: relative;
            left: 0px;
            display: flex;
            justify-content: center;
            align-items: start;
            margin-top: 2em;
        }
    .input__box{
        width: 45%;
    }
    .inputs {
        font-size: 20px;
    }
    .button {
        height: 88px;
        width: 92px;
    }
    .results {
        font-size: 64px;
        margin-left: 0.6em;
    }
    .numbers{
        font-size: 64px;
    }
    .first {
        margin-left: 1em;
     }

}